/* 

写的什么垃圾样式 T T

 */



::-webkit-scrollbar {
    width: 8px;
}

/* 滚动条导轨 */
::-webkit-scrollbar-track {
    background-color: #ffffff00 !important;
}
::-moz-scrollbar-track {
    background-color: #ffffff00 !important;
}

/* 滚动条 */
::-webkit-scrollbar-thumb {
    background-color: #999 !important;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 3px;
}
::-moz-scrollbar-thumb {
    background-color: #999 !important;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 3px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    padding-bottom: 0px;
}

svg, p {
    display: inline-block;
}

button {
    margin-bottom: 0px;
}

a:hover {
    cursor: pointer;
}

.container{
    padding: 0px;
}

/* 头部 */
header.container {
    padding-top: 2%;
    text-align: center;
    
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    text-align: center;
    justify-content: space-between;
}

body > header > div > div > img {
    height: 57px;
    width: 57px;
    margin-right: 12px;
}

body > header > div > div > h1 {
    margin: 0px;
    margin-right: 12px;
}

.github {
    all: initial;
    color: var(--a-color);
    width: auto;
    height: 32px;
    margin-top: 20px;
}

hr {
    padding-top: 10px;
    padding-bottom: 0.25rem;
}

main {
    all:initial !important;
    margin: 0px !important;
    width: 100% !important;
    display: flex;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100vh;
    width: 100%;
    box-sizing: border-box;
    /* 清空预设后恢复主题色 */
    color: var(--a-color) !important;
    min-height: 100vh;
    flex-direction: column;
    flex: 1;
}

.main {
    flex: 1;
    margin-bottom: auto;
}

body > main > input {
    height: 100px;
}

/* 分割线 */
body > main > hr {
    margin: 10%;
}

/* 输入框 */
#content {
    font-size: 16px;
    height: 150px;
    max-width: none !important;
    resize: vertical !important;
    margin-bottom: 0px;
    overflow: auto !important;
}

textarea, article {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
} 

/* option相关 */
.option {
    display: flex;
    align-items: stretch;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content:center;  
}
.option .selector {
    display: flex;
    width: 200px;
    text-align: center;
}

.option select {
    padding: initial !important;
    -webkit-appearance: none;
    height: 30px;
    max-width: 80px;
    padding-left: 5px !important;
    font-size: 12px;
    margin: 0px;
    text-align: left;
    background-position: center right .15rem !important;
}

.option select option {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.option #send-btn{
    padding: initial;
    height: 30px;
    text-align: center;
    width: 100px;
}
.switch_lang {
    all: initial;
    color: var(--a-color) !important;
}
.switch_lang:hover {
    cursor: pointer;
}


/* 译文区域 */
.translationBox{
    justify-content: center;
}


/* 译文 */
article {
    overflow: auto !important;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 16px;
    height: 150px;
    resize: vertical !important;
}

#article > p {
    font-size: 16px;
}


/* 译文工具栏 & 复制按钮 */
.codeTitle{
    margin-top: 8px;
    overflow: auto;
    height: 30px;
    border: 0;
    background-color: #1095c1;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px 4px 0 0;
    color: var(--primary-inverse); /* 使用主题色 */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
}
.codeTitle span{
    padding-top: 5px;
    font-size: small;

}
#copy-btn{
    all: initial;
    text-align: right;
    margin: 0;
    padding: 0;
    height: 100%;
    border: 0;
    align-self: flex-end;
    color: var(--primary-inverse);
    font-size: small;
    cursor: pointer;
}
#copy-btn :active{
    all: initial;
}
#copy-btn :hover{
    all: initial;
}


/* ============ 夜间模式分割线 ============ */
/* 夜间模式切换按钮 */
/* button.contrast.switcher.theme-switcher{
    ::after ;
} */
#themes button.theme-switcher:first-of-type {
    --font-weight: bold
}

#themes button.theme-switcher i {
    font-style: normal
}
.switcher {
    /* position: fixed; */
    position: initial;
    right: calc(var(--spacing)/ 2 + var(--scrollbar-width,0px));
    bottom: var(--spacing);
    width: auto;
    height: auto;
    margin-bottom: 0;
    padding: .75rem;
    border-radius: 2rem;
    box-shadow: var(--card-box-shadow);
    line-height: 1;
    text-align: right
}

.switcher::after {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: .15rem solid currentColor;
    border-radius: 50%;
    background: linear-gradient(to right,currentColor 0,currentColor 50%,transparent 50%);
    content: "";
    vertical-align: bottom;
    transition: transform var(--transition)
}

.switcher i {
    display: inline-block;
    max-width: 0;
    padding: 0;
    overflow: hidden;
    font-style: normal;
    font-size: .875rem;
    white-space: nowrap
}

.switcher:focus,.switcher:hover {
    max-width: 100%;
    transition: background-color var(--transition),border-color var(--transition),color var(--transition),box-shadow var(--transition)
}

/* 图标旋转动画 */
.switcher:hover::after {
    transform: rotate(180deg)
}

/* hover向左弹出文字 */
/* .switcher:hover i {
    max-width: 100%;
    padding: 0 calc(var(--spacing)/ 2) 0 calc(var(--spacing)/ 4);
    transition: max-width var(--transition),padding var(--transition)
} */

.switcher:focus {
    box-shadow: var(--card-box-shadow),0 0 0 .2rem var(--secondary-focus)
}

@media (min-width: 576px) {
    .switcher {
        right:calc(var(--spacing) + var(--scrollbar-width,0px))
    }
}
/* ============ 夜间模式分割线 ============ */


/* 页脚 */
footer {
    margin-top: auto;
    padding: 0% !important;
}


.footer {
    text-align: center;
    justify-content: space-between;
}


@media (min-width: 1100px) {
    main {
        display: flex;
        flex: 1;
    }
    .main {
        max-width: 100%;
        box-sizing: border-box;
        flex: 1;
        margin-bottom: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #content {
        height: 30vh;
        
    }

    article {
        margin-top: 0px;
        padding: 15px;
        font-size: 16px;
        width: 100%;
        overflow: auto;
        resize: vertical;
        height: 30vh;
    }

    .translationBox{
        max-width: 100%;
        /* 横向排列 */
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        margin-left: 8vh;
        margin-right: 8vh;
        /* 会导致悬浮在footer上 */
        /* height: 20vh; */
        flex: 1;
    }
    /* 三个column均分 */
    .column {
        flex: 1;
    }

    .translationBox .column:nth-child(2) {
        padding-left: 15px;
        padding-right: 15px;
    }


    /* option相关 */
    .option {
        text-align: center;
        /* 让子元素的高度与父元素一致 */
        align-items: stretch;
        text-align: center;
        flex: 1;
        min-width: 100%;
    }
    .selector {
        margin-right: 12px;
        display: flex;
        text-align: center;
    }
    .selector div p {
        text-align: left;
        margin: 0px;
        font-size: 12px;
    }
    select {
        padding: initial;
        -webkit-appearance: none;
        width: 7rem;
        padding-left: 5px;
        font-size: 12px;
        margin: 0px;
        text-align: left;
    }
   
}
